@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "PT Serif", serif;
}

li {
  list-style: none;
  cursor: pointer;
  color: #ff5c58;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: #272640;
  padding: 0.5em;
  align-items: center;
  box-shadow: 0px -4px 17px 10px #2c2e43;
}

header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23%;
  margin: 0;
  padding-left: 0;
}

header .logo img {
  height: 60px;
  width: 75px;
  aspect-ratio: 1/1;
}
header ul li {
  font-size: 1.4rem;
  font-weight: bold;
  font-family: "Courgette", cursive;
  color: #ffbd35;
}

header ul li:hover {
  color: #fce45d;
}

header ul li.active {
  color: #edf2fb;
  position: relative;
}

.container {
  margin-inline: auto;
  margin-top: 2em;
}

.searchbar {
  width: 100%;
  font-family: "PT Serif", serif;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 20px 16px 0;
}
.empty-container {
  width: 30%;
}

.searchbar input {
  height: 2rem;
  padding: 0.3rem;
  border-radius: 3px;
  outline: none;
  width: 25%;
  border-radius: 8px;
  border: none;
  background-color: #ffd166;
}

.about {
  align-items: center;
}

.about-container {
  width: 90%;
  margin-inline: auto;
  margin-top: 14px;
}

.about-container > p {
  font-size: 1.5rem;
}

.link {
  color: inherit;
  text-decoration: inherit;
}

.a3 {
  text-align: center;
}

.data {
  font-weight: bold;
  font-size: 50px;
}

.a1 {
  font-weight: bold;
  font-size: 25px;
}

.a2 {
  font-size: 20px;
}

.a4 {
  padding-left: 165px;
  padding-right: 165px;
}

.a5 {
  padding-top: 20px;
  padding-left: 110px;
  padding-right: 110px;
}

.row {
  flex-direction: row;
  flex-wrap: wrap;
  display: flex;
}

.space {
  padding: 20px;
}

.space > img {
  object-fit: contain;
}

.a6 {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.recipe-card,
.category-card {
  position: relative;
}

.recipe-card > img,
.category-card > img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
  object-fit: cover;
  height: 100%;
  border-radius: 8px;
}

.recipe-card .recipe-name,
.category-card .category-name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  display: flex;
  width: 80%;
  justify-content: space-between;
  align-items: center;
}

.recipe-card:hover img,
.category-card:hover img {
  opacity: 0.4;
}

.recipe-card:hover .recipe-name,
.category-card:hover .category-name {
  opacity: 1;
}

.recipe-name .recipe-name-field,
.category-name .recipe-name-field {
  background-color: #494747;
  color: white;
  font-size: 16px;
  padding: 6px 16px;
  border-radius: 10px;
}

.recipe-name .recipe-name-field:hover,
.category-name .recipe-name-field:hover {
  cursor: pointer;
}

.recipes,
.categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 20rem;
  gap: 15px;
  padding: 1rem;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 30%;
}
.logo .detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10px;
}

.logo .detail p {
  color: #abe06a;
  font-weight: bold;
  text-align: left;
  font-size: 20px;
  margin-bottom: 10px;
  font-family: "Courgette", cursive;
}

.logo .detail span {
  color: #68b28f;
  font-size: 14px;
  font-family: "Courgette", cursive;
}

.recipes-container .add-recipe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  border-radius: 8px;
  background-color: #43aa8b;
  color: #ffffff;
  cursor: pointer;
}
.recipes-container .add-recipe-btn svg {
  margin-right: 5px;
}

.recipes-container .subheader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
